<ActionBar title="Home" class="action-bar">
</ActionBar>

<ScrollView class="page">
	<StackLayout class="home-panel">
		<!--Add your page content here-->
		<Label text="TextField"></Label>
		<TextField></TextField>
		<Label text="TextField.secure"></Label>
		<TextField secure="true"></TextField>
		<Label text="TextView (Multi-line input)"></Label>
		<TextView></TextView>
		<Label text="SearchBar"></Label>
		<SearchBar></SearchBar>
		<Label text="Switch"></Label>
		<Switch></Switch>
	</StackLayout>
</ScrollView>